/////////////////////////////////////////////////////////////////////////////
//
// tee for Windows - Version resource script
//
#include <version.h>
#include <cpu.h>

#define APSTUDIO_READONLY_SYMBOLS
#include <WinResrc.h>
#undef APSTUDIO_READONLY_SYMBOLS

#define MY_VERSION_NUMBER APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, 0
#define ___MY_VERSION_STRING(X) #X
#define __MY_VERSION_STRING(X,Y,Z) ___MY_VERSION_STRING(X.Y.Z)
#define _MY_VERSION_STRING(X,Y,Z) __MY_VERSION_STRING(X,Y,Z)
#define MY_VERSION_STRING _MY_VERSION_STRING(APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH)

/////////////////////////////////////////////////////////////////////////////
//
// Neutral resources
//
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
101 ICON "tee.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION    MY_VERSION_NUMBER
 PRODUCTVERSION MY_VERSION_NUMBER
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS (VS_FF_DEBUG | VS_FF_PRERELEASE)
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "ProductName",      "tee for Windows"
            VALUE "FileDescription",  "tee for Windows (" PROCESSOR_ARCHITECTURE ")"
            VALUE "ProductVersion",   MY_VERSION_STRING
            VALUE "FileVersion",      MY_VERSION_STRING
            VALUE "InternalName",     "tee-win32"
            VALUE "OriginalFilename", "tee.exe"
            VALUE "LegalCopyright",   "Copyright (c) 2026 Olivier Levon, (c) 2024 dEajL3kA"
            VALUE "CompanyName",      "Olivier Levon"
            VALUE "LegalTrademarks",  "MIT License"
            VALUE "Comments",         "Released under the MIT license - https://opensource.org/licenses/MIT"
            VALUE "URL",              "https://github.com/olivierlevon/tee-win32"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
